html  
  head
    title="Isomorphic React App"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/browser-polyfill.js')

  body
    #app!= content
    if production
        script(src='/bundle.js', defer)
    else
        script(src='http://localhost:8080/public/bundle.js')